<head>
  <title> Movie Catalog Deluxe!
  </title>
</head>

<h1>Actors </h1>

<p>
  <ul>
  <% @actors.each do |actor| %>
    <li>
    <a href="/actors/<%= actor["id"]%>">
      <%= actor["name"] %>
    </a>
    </li>
  <% end %>
  </ul>
</p>
